<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ekybintarnow.bottomnavigationview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:excludeFromRecents="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/careapp2"
        android:label="Care App"
        android:roundIcon="@drawable/careapp2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText,GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".History"
            android:label="@string/title_activity_history" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:launchMode="standard"
             />
        <activity
            android:name=".DetailHistory"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Welcome"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".DetailHome"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Scanner" />
        <activity
            android:name=".Welcome_history"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".Login_history"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <service
            android:name=".ForegroundService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />
        <service
            android:name=".bgservice"
            android:enabled="true" />
    </application>

</manifest>